<%- include("../partials/header.ejs") %>

<header>
    <div class="indicator__track">
        <div class="indicator__bar" id="indicator"></div>
    </div>
</header>

<main>
    <section>
        <div class="twoBox">
            <div class="box">
                <h1>Client Service Agent</h1>
                <p>
                    J'ai récemment obtenu un diplôme d'études secondaires spécialisé dans le commerce et l'administration et je suis impatient de commencer ma carrière dans le secteur bancaire. Je n'ai peut-être pas d'expérience bancaire directe, mais j'apprends vite, je suis très motivé et je suis prêt à faire la différence chez Spuerkeess.
                </p>
    
            </div>
    
            <div class="box">
                <img src="/assets/img/luxembourg-bcee.png" alt="Luxembourg City">
            </div>
        </div>
    </section>
</main>

<footer>
    <div class="navBtn-container">
        <div class="navBtn">
            <a href="/"></a>
        </div>

        <div class="navBtn">
            <a href="/pages/parcours">Next</a>
        </div>
    </div>
</footer>

<%- include("../partials/footer.ejs") %>